.mainBox{
    border:2px solid wheat;
    width: 310px;
    height: 310px;
}
.outerMainBox {
 margin: 3%;
 margin-left: 2%;
}
.innerBox {
    width: 310px;
    height: 310px;
    display: grid;
    grid-template-columns: auto auto auto; 
}
h1,h2{
    color:wheat;
}
.zeroBox{
    opacity: 0.5;
    color:wheat;
    margin: 1px;
    height : 100px;
    width : 100px;
    font-size: 60px;
}
button{
    color: wheat;
    margin-top : 10px;
    background-color: transparent;
    box-shadow: 1px 1px 2px wheat;    
}
button:hover{ 
    color: black;
    background-color: wheat;
    box-shadow: 1px 1px 2px wheat black ;
}
.boxes{
    margin: 1px;
    background-color: rgb(54, 173, 202);
    color:wheat;
    height : 100px;
    width : 100px;
    font-size: 60px;
    cursor: pointer;
}
.numberContent{
    position: relative;
    left: 25px;
    top: 10px;
}